/*------------------------------------------------------------------
    Version: 1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import url(css/animate.css);
@import url(css/slick.min.css);
@import url(css/animated-slider.css);
@import url(css/flaticon.css);
@import url(css/prettyPhoto.css);
@import url(css/owl.carousel.css);
@import url(css/font-awesome.min.css);

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

body {
	--def: #ffffff; 	
	--inv: #009bb7;
    color: #999999;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.80857;
}

html, body{
	height: 100%;
}

body.demos .section {
    background: url(images/bg.png) repeat top center #f2f3f5;
}

body.demos .section-title img {
    max-width: 280px;
    display: block;
    margin: 10px auto;
}

body.demos .service-widget h3 {
    border-bottom: 1px solid #ededed;
    font-size: 18px;
    padding: 20px 0;
    background-color: #ffffff;
}

body.demos .service-widget {
    margin: 0 0 30px;
    padding: 30px;
    background-color: #fff
}

body.demos .container-fluid {
    max-width: 1080px
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #333333;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #222222;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

ul, li, ol{
	margin: 0px;
	list-style: none;
	padding: 0px;
}


/*------------------------------------------------------------------
    WP CORE
-------------------------------------------------------------------*/

.first {
    clear: both
}

.last {
    margin-right: 0
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}

a img.alignnone {
    margin: 10px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

.navbar-dark{
	background: #ffffff;
}

.navbar-dark .navbar-nav .nav-link{
	color: #292929;
	letter-spacing: 1px;
	font-size: 14px;
	position: relative;
	padding: 10px 15px;
	border-radius: 50px;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
	color: #ffffff;
	background: #faad3b
}
.navbar-dark .navbar-nav .nav-link.active{
	background: #009bb7;
}
.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
    border-radius: 0px;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: -1;
}
.navbar-dark .navbar-nav .nav-link.active::after {
	width: 50%;
}

/**new-btn**/

.btn-new {		
	position: relative;	
	padding: 11px 25px;
	font-size: 18px;
	border: none;
	color: var(--inv);
	letter-spacing: 0px;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	background: #faad3b;
	color: #ffffff;
	display: inline-block;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.btn-new:before, .btn-new:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn-new:hover {
	color: var(--def);
	transition-delay: .6s;
}

.btn-new:hover:before {
	transition-delay: 0s;
}

.btn-new:hover:after {
	background: var(--inv);
	transition-delay: .4s;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 272px 730px #FFF , 1776px 1759px #FFF , 1095px 372px #FFF , 1946px 1764px #FFF , 1205px 1888px #FFF , 1468px 1233px #FFF , 263px 245px #FFF , 1189px 398px #FFF , 63px 1560px #FFF , 1664px 1274px #FFF , 612px 1247px #FFF , 1377px 925px #FFF , 276px 738px #FFF , 586px 78px #FFF , 169px 241px #FFF , 386px 117px #FFF , 64px 934px #FFF , 1544px 753px #FFF , 1193px 689px #FFF , 1366px 1223px #FFF , 551px 28px #FFF , 292px 1126px #FFF , 927px 742px #FFF , 1199px 1179px #FFF , 203px 1409px #FFF , 1209px 1951px #FFF , 843px 920px #FFF , 220px 96px #FFF , 158px 94px #FFF , 1483px 1931px #FFF , 1921px 1272px #FFF , 276px 1460px #FFF , 1765px 1744px #FFF , 1353px 1369px #FFF , 1779px 1425px #FFF , 806px 349px #FFF , 1154px 1906px #FFF , 1800px 765px #FFF , 1202px 1392px #FFF , 1278px 1671px #FFF , 87px 1267px #FFF , 1793px 1812px #FFF , 86px 844px #FFF , 634px 590px #FFF , 499px 1235px #FFF , 836px 1608px #FFF , 1753px 662px #FFF , 1198px 903px #FFF , 1821px 1805px #FFF , 125px 365px #FFF , 1199px 1467px #FFF , 640px 724px #FFF , 286px 1644px #FFF , 105px 1350px #FFF , 715px 907px #FFF , 1921px 86px #FFF , 719px 1917px #FFF , 737px 1621px #FFF , 1892px 791px #FFF , 138px 1401px #FFF , 1743px 621px #FFF , 1753px 383px #FFF , 1976px 1527px #FFF , 382px 39px #FFF , 1855px 1248px #FFF , 951px 552px #FFF , 93px 1012px #FFF , 1411px 483px #FFF , 824px 1847px #FFF , 326px 1696px #FFF , 445px 124px #FFF , 858px 1963px #FFF , 958px 1118px #FFF , 19px 1435px #FFF , 1380px 991px #FFF , 1646px 332px #FFF , 1201px 982px #FFF , 461px 601px #FFF , 1077px 254px #FFF , 915px 1822px #FFF , 232px 407px #FFF , 1953px 1574px #FFF , 1189px 1006px #FFF , 1593px 54px #FFF , 687px 437px #FFF , 1934px 255px #FFF , 879px 1087px #FFF , 1832px 134px #FFF , 1407px 1979px #FFF , 1367px 1451px #FFF , 1745px 627px #FFF , 348px 46px #FFF , 277px 750px #FFF , 1932px 1626px #FFF , 182px 1905px #FFF , 89px 1867px #FFF , 1098px 1783px #FFF , 1765px 766px #FFF , 2px 968px #FFF , 317px 1459px #FFF , 225px 386px #FFF , 1267px 195px #FFF , 1763px 1915px #FFF , 1557px 1119px #FFF , 1546px 1825px #FFF , 1509px 465px #FFF , 19px 1144px #FFF , 216px 294px #FFF , 1119px 89px #FFF , 348px 1284px #FFF , 1311px 1630px #FFF , 479px 1035px #FFF , 1822px 1362px #FFF , 1835px 1597px #FFF , 110px 1483px #FFF , 1931px 679px #FFF , 1178px 1730px #FFF , 208px 666px #FFF , 245px 1978px #FFF , 1224px 1429px #FFF , 1809px 101px #FFF , 881px 33px #FFF , 1920px 1976px #FFF , 1642px 1291px #FFF , 1659px 123px #FFF , 1134px 1835px #FFF , 346px 1687px #FFF , 763px 601px #FFF , 105px 1324px #FFF , 1487px 1942px #FFF , 296px 119px #FFF , 1768px 930px #FFF , 958px 865px #FFF , 1362px 1418px #FFF , 1562px 111px #FFF , 1513px 694px #FFF , 1533px 77px #FFF , 758px 1842px #FFF , 437px 1724px #FFF , 644px 289px #FFF , 1673px 1689px #FFF , 170px 1283px #FFF , 1067px 786px #FFF , 1788px 460px #FFF , 1110px 930px #FFF , 138px 930px #FFF , 813px 529px #FFF , 1048px 866px #FFF , 1885px 1594px #FFF , 141px 199px #FFF , 544px 864px #FFF , 1443px 148px #FFF , 1721px 1521px #FFF , 1804px 241px #FFF , 1810px 1326px #FFF , 1467px 867px #FFF , 1151px 289px #FFF , 1588px 1004px #FFF , 122px 464px #FFF , 910px 1922px #FFF , 242px 1045px #FFF , 159px 84px #FFF , 288px 1085px #FFF , 864px 1745px #FFF , 1266px 1313px #FFF , 1537px 22px #FFF , 606px 1413px #FFF , 194px 1743px #FFF , 812px 1728px #FFF , 461px 1770px #FFF , 1008px 1184px #FFF , 1730px 1245px #FFF , 1915px 1289px #FFF , 978px 1846px #FFF , 1934px 1478px #FFF , 459px 194px #FFF , 31px 66px #FFF , 731px 973px #FFF , 858px 1421px #FFF , 213px 1196px #FFF , 719px 732px #FFF , 965px 1122px #FFF , 1149px 1941px #FFF , 206px 1722px #FFF , 1921px 1497px #FFF , 784px 645px #FFF , 1809px 1935px #FFF , 538px 773px #FFF , 1875px 1465px #FFF , 290px 914px #FFF , 1494px 86px #FFF , 506px 979px #FFF , 658px 989px #FFF , 962px 1243px #FFF , 163px 24px #FFF , 875px 859px #FFF , 1254px 461px #FFF , 582px 780px #FFF , 1127px 670px #FFF , 1245px 584px #FFF , 1494px 480px #FFF , 1734px 767px #FFF , 511px 57px #FFF , 134px 1530px #FFF , 81px 691px #FFF , 948px 1554px #FFF , 183px 1106px #FFF , 1623px 1354px #FFF , 1823px 1710px #FFF , 1336px 624px #FFF , 1931px 1907px #FFF , 1867px 851px #FFF , 1718px 782px #FFF , 1731px 836px #FFF , 1053px 1026px #FFF , 88px 748px #FFF , 341px 1276px #FFF , 1515px 1704px #FFF , 1250px 198px #FFF , 764px 1141px #FFF , 1084px 1407px #FFF , 85px 1141px #FFF , 455px 1538px #FFF , 1949px 173px #FFF , 1125px 925px #FFF , 1453px 496px #FFF , 81px 1106px #FFF , 38px 173px #FFF , 1272px 1131px #FFF , 699px 1208px #FFF , 851px 1730px #FFF , 653px 1679px #FFF , 82px 1790px #FFF , 1043px 2px #FFF , 858px 135px #FFF , 1382px 1972px #FFF , 1834px 1507px #FFF , 39px 603px #FFF , 405px 600px #FFF , 1109px 1763px #FFF , 573px 446px #FFF , 1132px 1834px #FFF , 442px 921px #FFF , 1149px 546px #FFF , 509px 1519px #FFF , 1645px 1594px #FFF , 727px 19px #FFF , 894px 925px #FFF , 674px 223px #FFF , 214px 1384px #FFF , 1332px 1549px #FFF , 1917px 904px #FFF , 1265px 426px #FFF , 1774px 761px #FFF , 555px 1318px #FFF , 1126px 931px #FFF , 1993px 743px #FFF , 565px 879px #FFF , 1079px 58px #FFF , 1342px 895px #FFF , 141px 1820px #FFF , 574px 327px #FFF , 1225px 1216px #FFF , 368px 1451px #FFF , 1671px 589px #FFF , 1749px 1666px #FFF , 104px 835px #FFF , 1255px 1840px #FFF , 1351px 1397px #FFF , 587px 1531px #FFF , 1796px 130px #FFF , 1129px 1218px #FFF , 1031px 1672px #FFF , 819px 266px #FFF , 934px 259px #FFF , 1101px 566px #FFF , 100px 366px #FFF , 1022px 782px #FFF , 1971px 1807px #FFF , 63px 670px #FFF , 1843px 94px #FFF , 1623px 968px #FFF , 728px 375px #FFF , 347px 782px #FFF , 1520px 1349px #FFF , 159px 742px #FFF , 1640px 221px #FFF , 1492px 1670px #FFF , 1850px 1631px #FFF , 293px 346px #FFF , 824px 1429px #FFF , 1342px 613px #FFF , 264px 1047px #FFF , 232px 1208px #FFF , 1880px 994px #FFF , 1750px 1430px #FFF , 203px 962px #FFF , 647px 204px #FFF , 231px 1437px #FFF , 750px 708px #FFF , 906px 1829px #FFF , 618px 1940px #FFF , 525px 1358px #FFF , 158px 758px #FFF , 1198px 271px #FFF , 633px 1646px #FFF , 956px 1474px #FFF , 453px 1458px #FFF , 588px 1678px #FFF , 1570px 1538px #FFF , 855px 912px #FFF , 1260px 1988px #FFF , 1468px 1905px #FFF , 1550px 1132px #FFF , 367px 35px #FFF , 1013px 263px #FFF , 1050px 1948px #FFF , 235px 645px #FFF , 1871px 1197px #FFF , 958px 1474px #FFF , 376px 1264px #FFF , 934px 1630px #FFF , 1450px 385px #FFF , 1391px 966px #FFF , 1016px 223px #FFF , 672px 1029px #FFF , 1834px 1739px #FFF , 693px 649px #FFF , 1695px 979px #FFF , 1580px 1222px #FFF , 864px 1239px #FFF , 926px 1441px #FFF , 1108px 1993px #FFF , 1177px 1368px #FFF , 698px 698px #FFF , 527px 928px #FFF , 39px 816px #FFF , 1165px 1899px #FFF , 99px 984px #FFF , 1844px 184px #FFF , 858px 1142px #FFF , 244px 1897px #FFF , 1720px 1570px #FFF , 906px 1229px #FFF , 718px 176px #FFF , 1721px 397px #FFF , 1637px 313px #FFF , 46px 966px #FFF , 1021px 405px #FFF , 179px 634px #FFF , 1428px 616px #FFF , 616px 796px #FFF , 1842px 1946px #FFF , 1415px 1350px #FFF , 571px 1379px #FFF , 1064px 1319px #FFF , 1688px 1808px #FFF , 641px 1781px #FFF , 238px 320px #FFF , 22px 1143px #FFF , 1241px 1177px #FFF , 1043px 456px #FFF , 1379px 1198px #FFF , 430px 152px #FFF , 1294px 1722px #FFF , 157px 581px #FFF , 488px 1485px #FFF , 1426px 719px #FFF , 680px 979px #FFF , 578px 1169px #FFF , 212px 1535px #FFF , 1988px 199px #FFF , 1215px 1360px #FFF , 187px 62px #FFF , 287px 1383px #FFF , 528px 1820px #FFF , 1028px 1861px #FFF , 1193px 655px #FFF , 1766px 417px #FFF , 201px 960px #FFF , 1546px 1497px #FFF , 1433px 1144px #FFF , 1633px 983px #FFF , 586px 1442px #FFF , 1154px 1540px #FFF , 27px 871px #FFF , 673px 1783px #FFF , 1505px 818px #FFF , 644px 1992px #FFF , 91px 416px #FFF , 67px 645px #FFF , 1668px 1431px #FFF , 771px 1658px #FFF , 1551px 600px #FFF , 832px 531px #FFF , 1944px 605px #FFF , 325px 222px #FFF , 680px 1979px #FFF , 955px 1916px #FFF , 1052px 1982px #FFF , 1084px 168px #FFF , 442px 1617px #FFF , 1262px 981px #FFF , 645px 693px #FFF , 1940px 1689px #FFF , 706px 1404px #FFF , 152px 493px #FFF , 1331px 1847px #FFF , 537px 1918px #FFF , 297px 1974px #FFF , 1834px 1265px #FFF , 833px 1707px #FFF , 1520px 558px #FFF , 1805px 797px #FFF , 247px 664px #FFF , 1664px 320px #FFF , 1198px 410px #FFF , 1971px 1591px #FFF , 1881px 1709px #FFF , 445px 1505px #FFF , 835px 1931px #FFF , 1726px 573px #FFF , 737px 1037px #FFF , 1786px 933px #FFF , 1596px 1874px #FFF , 1021px 1563px #FFF , 919px 1135px #FFF , 1075px 1122px #FFF , 536px 460px #FFF , 1580px 635px #FFF , 687px 113px #FFF , 259px 1305px #FFF , 945px 1468px #FFF , 1130px 735px #FFF , 1472px 1030px #FFF , 1371px 43px #FFF , 491px 792px #FFF , 1330px 1451px #FFF , 1569px 785px #FFF , 614px 136px #FFF , 1205px 1534px #FFF , 209px 1808px #FFF , 1244px 848px #FFF , 1727px 1275px #FFF , 1468px 1910px #FFF , 1126px 1087px #FFF , 970px 191px #FFF , 1883px 441px #FFF , 173px 1515px #FFF , 1455px 437px #FFF , 412px 359px #FFF , 658px 969px #FFF , 836px 1304px #FFF , 796px 1981px #FFF , 1526px 1084px #FFF , 882px 81px #FFF , 659px 910px #FFF , 1555px 471px #FFF , 1520px 1232px #FFF , 1571px 305px #FFF , 1152px 1777px #FFF , 799px 1482px #FFF , 1543px 530px #FFF , 232px 1311px #FFF , 1944px 1485px #FFF , 796px 1782px #FFF , 464px 564px #FFF , 1228px 240px #FFF , 84px 533px #FFF , 1786px 77px #FFF , 1561px 300px #FFF , 934px 1739px #FFF , 243px 1691px #FFF , 40px 1196px #FFF , 1975px 1927px #FFF , 1348px 1334px #FFF , 9px 1770px #FFF , 1167px 1607px #FFF , 1864px 1039px #FFF , 1004px 504px #FFF , 1341px 642px #FFF , 895px 1954px #FFF , 158px 1006px #FFF , 1499px 1827px #FFF , 110px 1595px #FFF , 167px 1317px #FFF , 787px 940px #FFF , 1085px 1444px #FFF , 89px 1356px #FFF , 1715px 1964px #FFF , 542px 1172px #FFF , 79px 413px #FFF , 177px 1544px #FFF , 141px 1349px #FFF , 1177px 921px #FFF , 494px 1825px #FFF , 203px 774px #FFF , 1963px 766px #FFF , 418px 1935px #FFF , 14px 1227px #FFF , 1209px 1328px #FFF , 1193px 16px #FFF , 1858px 1530px #FFF , 1276px 1758px #FFF , 1623px 1480px #FFF , 1655px 888px #FFF , 554px 38px #FFF , 1581px 401px #FFF , 1183px 1567px #FFF , 1161px 1833px #FFF , 1047px 1979px #FFF , 1493px 840px #FFF , 1308px 1487px #FFF , 1657px 441px #FFF , 1427px 1826px #FFF , 916px 1544px #FFF , 1726px 1997px #FFF , 1929px 1976px #FFF , 861px 1380px #FFF , 138px 1731px #FFF , 1949px 712px #FFF , 1879px 327px #FFF , 618px 468px #FFF , 1622px 774px #FFF , 82px 237px #FFF , 835px 1306px #FFF , 1777px 648px #FFF , 757px 1123px #FFF , 1596px 1917px #FFF , 481px 287px #FFF , 1156px 1144px #FFF , 1057px 1807px #FFF , 1380px 498px #FFF , 1541px 873px #FFF , 1739px 192px #FFF , 1000px 1679px #FFF , 1078px 1156px #FFF , 1995px 1730px #FFF , 1609px 384px #FFF , 1495px 1964px #FFF , 513px 1147px #FFF , 1008px 1224px #FFF , 1346px 1109px #FFF , 1087px 1005px #FFF , 1953px 578px #FFF , 1699px 529px #FFF , 1192px 6px #FFF , 1208px 422px #FFF , 1402px 344px #FFF , 828px 1585px #FFF , 612px 738px #FFF , 1845px 896px #FFF , 803px 769px #FFF , 701px 333px #FFF , 750px 1209px #FFF , 1556px 50px #FFF , 1764px 1060px #FFF , 915px 173px #FFF , 1283px 1880px #FFF , 548px 1377px #FFF , 1493px 1449px #FFF , 834px 1321px #FFF , 910px 1114px #FFF , 1040px 1221px #FFF , 1090px 1930px #FFF , 1186px 418px #FFF , 985px 1679px #FFF , 1949px 1840px #FFF , 509px 1936px #FFF , 1140px 214px #FFF , 1227px 1810px #FFF , 1255px 1565px #FFF , 266px 807px #FFF , 1528px 1361px #FFF , 1749px 1413px #FFF , 207px 723px #FFF , 494px 647px #FFF , 1394px 1715px #FFF , 1911px 1757px #FFF , 512px 1341px #FFF , 333px 1544px #FFF , 500px 881px #FFF , 1059px 704px #FFF , 1489px 570px #FFF , 1115px 491px #FFF , 637px 943px #FFF , 1261px 215px #FFF , 777px 530px #FFF , 1543px 899px #FFF , 1433px 970px #FFF , 1386px 1349px #FFF , 378px 1121px #FFF , 649px 1252px #FFF , 624px 1150px #FFF , 1372px 1764px #FFF , 490px 909px #FFF , 1015px 155px #FFF , 1021px 41px #FFF , 725px 1819px #FFF , 1852px 1093px #FFF , 1907px 1294px #FFF , 1644px 286px #FFF , 120px 232px #FFF , 453px 824px #FFF , 1050px 533px #FFF , 1211px 1731px #FFF , 1449px 722px #FFF , 1957px 1783px #FFF , 1809px 1113px #FFF , 168px 1106px #FFF , 21px 6px #FFF , 1611px 1120px #FFF , 757px 170px #FFF , 485px 1036px #FFF , 1872px 456px #FFF , 107px 1134px #FFF , 1833px 260px #FFF , 468px 35px #FFF , 1225px 1332px #FFF , 1705px 1403px #FFF , 253px 401px #FFF , 589px 1040px #FFF , 1314px 601px #FFF , 1745px 121px #FFF , 395px 1735px #FFF , 1594px 1278px #FFF , 1915px 1830px #FFF , 1134px 885px #FFF , 1815px 1241px #FFF , 1524px 1454px #FFF , 349px 386px #FFF , 1362px 174px #FFF , 709px 1254px #FFF , 706px 1208px #FFF , 1981px 151px #FFF , 1095px 1704px #FFF , 294px 1531px #FFF , 1534px 149px #FFF , 425px 498px #FFF , 1522px 1567px #FFF , 1460px 868px #FFF , 451px 1954px #FFF , 331px 1149px #FFF , 1824px 830px #FFF , 13px 413px #FFF , 85px 1016px #FFF , 658px 1999px #FFF , 1841px 1414px #FFF , 366px 27px #FFF , 1491px 1601px #FFF , 849px 18px #FFF , 515px 988px #FFF , 1301px 1294px #FFF , 1734px 298px #FFF , 318px 1830px #FFF , 613px 599px #FFF , 341px 1398px #FFF , 707px 1783px #FFF , 81px 96px #FFF , 835px 525px #FFF , 854px 1296px #FFF , 1496px 150px #FFF , 515px 419px #FFF , 1689px 605px #FFF , 563px 461px #FFF , 4px 1622px #FFF , 1357px 1611px #FFF , 135px 1343px #FFF , 755px 1929px #FFF , 279px 1404px #FFF , 530px 1247px #FFF , 788px 709px #FFF , 832px 1213px #FFF , 1433px 944px #FFF , 982px 1286px #FFF , 1959px 841px #FFF , 174px 750px #FFF , 1826px 628px #FFF , 1653px 307px #FFF , 650px 149px #FFF , 250px 323px #FFF , 1589px 1394px #FFF , 152px 1327px #FFF , 1884px 1081px #FFF , 319px 1178px #FFF , 81px 1188px #FFF , 623px 1293px #FFF , 1005px 94px #FFF , 1453px 200px #FFF , 583px 247px #FFF , 402px 1548px #FFF , 811px 1991px #FFF , 428px 915px #FFF , 997px 782px #FFF , 61px 1297px #FFF , 479px 1457px #FFF , 1226px 817px #FFF , 1396px 1075px #FFF , 1289px 1683px #FFF , 1416px 444px #FFF;
    -webkit-animation: animStar 50s linear infinite;
            animation: animStar 50s linear infinite; }
  
  #stars:after {
    content: " ";
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 272px 730px #FFF , 1776px 1759px #FFF , 1095px 372px #FFF , 1946px 1764px #FFF , 1205px 1888px #FFF , 1468px 1233px #FFF , 263px 245px #FFF , 1189px 398px #FFF , 63px 1560px #FFF , 1664px 1274px #FFF , 612px 1247px #FFF , 1377px 925px #FFF , 276px 738px #FFF , 586px 78px #FFF , 169px 241px #FFF , 386px 117px #FFF , 64px 934px #FFF , 1544px 753px #FFF , 1193px 689px #FFF , 1366px 1223px #FFF , 551px 28px #FFF , 292px 1126px #FFF , 927px 742px #FFF , 1199px 1179px #FFF , 203px 1409px #FFF , 1209px 1951px #FFF , 843px 920px #FFF , 220px 96px #FFF , 158px 94px #FFF , 1483px 1931px #FFF , 1921px 1272px #FFF , 276px 1460px #FFF , 1765px 1744px #FFF , 1353px 1369px #FFF , 1779px 1425px #FFF , 806px 349px #FFF , 1154px 1906px #FFF , 1800px 765px #FFF , 1202px 1392px #FFF , 1278px 1671px #FFF , 87px 1267px #FFF , 1793px 1812px #FFF , 86px 844px #FFF , 634px 590px #FFF , 499px 1235px #FFF , 836px 1608px #FFF , 1753px 662px #FFF , 1198px 903px #FFF , 1821px 1805px #FFF , 125px 365px #FFF , 1199px 1467px #FFF , 640px 724px #FFF , 286px 1644px #FFF , 105px 1350px #FFF , 715px 907px #FFF , 1921px 86px #FFF , 719px 1917px #FFF , 737px 1621px #FFF , 1892px 791px #FFF , 138px 1401px #FFF , 1743px 621px #FFF , 1753px 383px #FFF , 1976px 1527px #FFF , 382px 39px #FFF , 1855px 1248px #FFF , 951px 552px #FFF , 93px 1012px #FFF , 1411px 483px #FFF , 824px 1847px #FFF , 326px 1696px #FFF , 445px 124px #FFF , 858px 1963px #FFF , 958px 1118px #FFF , 19px 1435px #FFF , 1380px 991px #FFF , 1646px 332px #FFF , 1201px 982px #FFF , 461px 601px #FFF , 1077px 254px #FFF , 915px 1822px #FFF , 232px 407px #FFF , 1953px 1574px #FFF , 1189px 1006px #FFF , 1593px 54px #FFF , 687px 437px #FFF , 1934px 255px #FFF , 879px 1087px #FFF , 1832px 134px #FFF , 1407px 1979px #FFF , 1367px 1451px #FFF , 1745px 627px #FFF , 348px 46px #FFF , 277px 750px #FFF , 1932px 1626px #FFF , 182px 1905px #FFF , 89px 1867px #FFF , 1098px 1783px #FFF , 1765px 766px #FFF , 2px 968px #FFF , 317px 1459px #FFF , 225px 386px #FFF , 1267px 195px #FFF , 1763px 1915px #FFF , 1557px 1119px #FFF , 1546px 1825px #FFF , 1509px 465px #FFF , 19px 1144px #FFF , 216px 294px #FFF , 1119px 89px #FFF , 348px 1284px #FFF , 1311px 1630px #FFF , 479px 1035px #FFF , 1822px 1362px #FFF , 1835px 1597px #FFF , 110px 1483px #FFF , 1931px 679px #FFF , 1178px 1730px #FFF , 208px 666px #FFF , 245px 1978px #FFF , 1224px 1429px #FFF , 1809px 101px #FFF , 881px 33px #FFF , 1920px 1976px #FFF , 1642px 1291px #FFF , 1659px 123px #FFF , 1134px 1835px #FFF , 346px 1687px #FFF , 763px 601px #FFF , 105px 1324px #FFF , 1487px 1942px #FFF , 296px 119px #FFF , 1768px 930px #FFF , 958px 865px #FFF , 1362px 1418px #FFF , 1562px 111px #FFF , 1513px 694px #FFF , 1533px 77px #FFF , 758px 1842px #FFF , 437px 1724px #FFF , 644px 289px #FFF , 1673px 1689px #FFF , 170px 1283px #FFF , 1067px 786px #FFF , 1788px 460px #FFF , 1110px 930px #FFF , 138px 930px #FFF , 813px 529px #FFF , 1048px 866px #FFF , 1885px 1594px #FFF , 141px 199px #FFF , 544px 864px #FFF , 1443px 148px #FFF , 1721px 1521px #FFF , 1804px 241px #FFF , 1810px 1326px #FFF , 1467px 867px #FFF , 1151px 289px #FFF , 1588px 1004px #FFF , 122px 464px #FFF , 910px 1922px #FFF , 242px 1045px #FFF , 159px 84px #FFF , 288px 1085px #FFF , 864px 1745px #FFF , 1266px 1313px #FFF , 1537px 22px #FFF , 606px 1413px #FFF , 194px 1743px #FFF , 812px 1728px #FFF , 461px 1770px #FFF , 1008px 1184px #FFF , 1730px 1245px #FFF , 1915px 1289px #FFF , 978px 1846px #FFF , 1934px 1478px #FFF , 459px 194px #FFF , 31px 66px #FFF , 731px 973px #FFF , 858px 1421px #FFF , 213px 1196px #FFF , 719px 732px #FFF , 965px 1122px #FFF , 1149px 1941px #FFF , 206px 1722px #FFF , 1921px 1497px #FFF , 784px 645px #FFF , 1809px 1935px #FFF , 538px 773px #FFF , 1875px 1465px #FFF , 290px 914px #FFF , 1494px 86px #FFF , 506px 979px #FFF , 658px 989px #FFF , 962px 1243px #FFF , 163px 24px #FFF , 875px 859px #FFF , 1254px 461px #FFF , 582px 780px #FFF , 1127px 670px #FFF , 1245px 584px #FFF , 1494px 480px #FFF , 1734px 767px #FFF , 511px 57px #FFF , 134px 1530px #FFF , 81px 691px #FFF , 948px 1554px #FFF , 183px 1106px #FFF , 1623px 1354px #FFF , 1823px 1710px #FFF , 1336px 624px #FFF , 1931px 1907px #FFF , 1867px 851px #FFF , 1718px 782px #FFF , 1731px 836px #FFF , 1053px 1026px #FFF , 88px 748px #FFF , 341px 1276px #FFF , 1515px 1704px #FFF , 1250px 198px #FFF , 764px 1141px #FFF , 1084px 1407px #FFF , 85px 1141px #FFF , 455px 1538px #FFF , 1949px 173px #FFF , 1125px 925px #FFF , 1453px 496px #FFF , 81px 1106px #FFF , 38px 173px #FFF , 1272px 1131px #FFF , 699px 1208px #FFF , 851px 1730px #FFF , 653px 1679px #FFF , 82px 1790px #FFF , 1043px 2px #FFF , 858px 135px #FFF , 1382px 1972px #FFF , 1834px 1507px #FFF , 39px 603px #FFF , 405px 600px #FFF , 1109px 1763px #FFF , 573px 446px #FFF , 1132px 1834px #FFF , 442px 921px #FFF , 1149px 546px #FFF , 509px 1519px #FFF , 1645px 1594px #FFF , 727px 19px #FFF , 894px 925px #FFF , 674px 223px #FFF , 214px 1384px #FFF , 1332px 1549px #FFF , 1917px 904px #FFF , 1265px 426px #FFF , 1774px 761px #FFF , 555px 1318px #FFF , 1126px 931px #FFF , 1993px 743px #FFF , 565px 879px #FFF , 1079px 58px #FFF , 1342px 895px #FFF , 141px 1820px #FFF , 574px 327px #FFF , 1225px 1216px #FFF , 368px 1451px #FFF , 1671px 589px #FFF , 1749px 1666px #FFF , 104px 835px #FFF , 1255px 1840px #FFF , 1351px 1397px #FFF , 587px 1531px #FFF , 1796px 130px #FFF , 1129px 1218px #FFF , 1031px 1672px #FFF , 819px 266px #FFF , 934px 259px #FFF , 1101px 566px #FFF , 100px 366px #FFF , 1022px 782px #FFF , 1971px 1807px #FFF , 63px 670px #FFF , 1843px 94px #FFF , 1623px 968px #FFF , 728px 375px #FFF , 347px 782px #FFF , 1520px 1349px #FFF , 159px 742px #FFF , 1640px 221px #FFF , 1492px 1670px #FFF , 1850px 1631px #FFF , 293px 346px #FFF , 824px 1429px #FFF , 1342px 613px #FFF , 264px 1047px #FFF , 232px 1208px #FFF , 1880px 994px #FFF , 1750px 1430px #FFF , 203px 962px #FFF , 647px 204px #FFF , 231px 1437px #FFF , 750px 708px #FFF , 906px 1829px #FFF , 618px 1940px #FFF , 525px 1358px #FFF , 158px 758px #FFF , 1198px 271px #FFF , 633px 1646px #FFF , 956px 1474px #FFF , 453px 1458px #FFF , 588px 1678px #FFF , 1570px 1538px #FFF , 855px 912px #FFF , 1260px 1988px #FFF , 1468px 1905px #FFF , 1550px 1132px #FFF , 367px 35px #FFF , 1013px 263px #FFF , 1050px 1948px #FFF , 235px 645px #FFF , 1871px 1197px #FFF , 958px 1474px #FFF , 376px 1264px #FFF , 934px 1630px #FFF , 1450px 385px #FFF , 1391px 966px #FFF , 1016px 223px #FFF , 672px 1029px #FFF , 1834px 1739px #FFF , 693px 649px #FFF , 1695px 979px #FFF , 1580px 1222px #FFF , 864px 1239px #FFF , 926px 1441px #FFF , 1108px 1993px #FFF , 1177px 1368px #FFF , 698px 698px #FFF , 527px 928px #FFF , 39px 816px #FFF , 1165px 1899px #FFF , 99px 984px #FFF , 1844px 184px #FFF , 858px 1142px #FFF , 244px 1897px #FFF , 1720px 1570px #FFF , 906px 1229px #FFF , 718px 176px #FFF , 1721px 397px #FFF , 1637px 313px #FFF , 46px 966px #FFF , 1021px 405px #FFF , 179px 634px #FFF , 1428px 616px #FFF , 616px 796px #FFF , 1842px 1946px #FFF , 1415px 1350px #FFF , 571px 1379px #FFF , 1064px 1319px #FFF , 1688px 1808px #FFF , 641px 1781px #FFF , 238px 320px #FFF , 22px 1143px #FFF , 1241px 1177px #FFF , 1043px 456px #FFF , 1379px 1198px #FFF , 430px 152px #FFF , 1294px 1722px #FFF , 157px 581px #FFF , 488px 1485px #FFF , 1426px 719px #FFF , 680px 979px #FFF , 578px 1169px #FFF , 212px 1535px #FFF , 1988px 199px #FFF , 1215px 1360px #FFF , 187px 62px #FFF , 287px 1383px #FFF , 528px 1820px #FFF , 1028px 1861px #FFF , 1193px 655px #FFF , 1766px 417px #FFF , 201px 960px #FFF , 1546px 1497px #FFF , 1433px 1144px #FFF , 1633px 983px #FFF , 586px 1442px #FFF , 1154px 1540px #FFF , 27px 871px #FFF , 673px 1783px #FFF , 1505px 818px #FFF , 644px 1992px #FFF , 91px 416px #FFF , 67px 645px #FFF , 1668px 1431px #FFF , 771px 1658px #FFF , 1551px 600px #FFF , 832px 531px #FFF , 1944px 605px #FFF , 325px 222px #FFF , 680px 1979px #FFF , 955px 1916px #FFF , 1052px 1982px #FFF , 1084px 168px #FFF , 442px 1617px #FFF , 1262px 981px #FFF , 645px 693px #FFF , 1940px 1689px #FFF , 706px 1404px #FFF , 152px 493px #FFF , 1331px 1847px #FFF , 537px 1918px #FFF , 297px 1974px #FFF , 1834px 1265px #FFF , 833px 1707px #FFF , 1520px 558px #FFF , 1805px 797px #FFF , 247px 664px #FFF , 1664px 320px #FFF , 1198px 410px #FFF , 1971px 1591px #FFF , 1881px 1709px #FFF , 445px 1505px #FFF , 835px 1931px #FFF , 1726px 573px #FFF , 737px 1037px #FFF , 1786px 933px #FFF , 1596px 1874px #FFF , 1021px 1563px #FFF , 919px 1135px #FFF , 1075px 1122px #FFF , 536px 460px #FFF , 1580px 635px #FFF , 687px 113px #FFF , 259px 1305px #FFF , 945px 1468px #FFF , 1130px 735px #FFF , 1472px 1030px #FFF , 1371px 43px #FFF , 491px 792px #FFF , 1330px 1451px #FFF , 1569px 785px #FFF , 614px 136px #FFF , 1205px 1534px #FFF , 209px 1808px #FFF , 1244px 848px #FFF , 1727px 1275px #FFF , 1468px 1910px #FFF , 1126px 1087px #FFF , 970px 191px #FFF , 1883px 441px #FFF , 173px 1515px #FFF , 1455px 437px #FFF , 412px 359px #FFF , 658px 969px #FFF , 836px 1304px #FFF , 796px 1981px #FFF , 1526px 1084px #FFF , 882px 81px #FFF , 659px 910px #FFF , 1555px 471px #FFF , 1520px 1232px #FFF , 1571px 305px #FFF , 1152px 1777px #FFF , 799px 1482px #FFF , 1543px 530px #FFF , 232px 1311px #FFF , 1944px 1485px #FFF , 796px 1782px #FFF , 464px 564px #FFF , 1228px 240px #FFF , 84px 533px #FFF , 1786px 77px #FFF , 1561px 300px #FFF , 934px 1739px #FFF , 243px 1691px #FFF , 40px 1196px #FFF , 1975px 1927px #FFF , 1348px 1334px #FFF , 9px 1770px #FFF , 1167px 1607px #FFF , 1864px 1039px #FFF , 1004px 504px #FFF , 1341px 642px #FFF , 895px 1954px #FFF , 158px 1006px #FFF , 1499px 1827px #FFF , 110px 1595px #FFF , 167px 1317px #FFF , 787px 940px #FFF , 1085px 1444px #FFF , 89px 1356px #FFF , 1715px 1964px #FFF , 542px 1172px #FFF , 79px 413px #FFF , 177px 1544px #FFF , 141px 1349px #FFF , 1177px 921px #FFF , 494px 1825px #FFF , 203px 774px #FFF , 1963px 766px #FFF , 418px 1935px #FFF , 14px 1227px #FFF , 1209px 1328px #FFF , 1193px 16px #FFF , 1858px 1530px #FFF , 1276px 1758px #FFF , 1623px 1480px #FFF , 1655px 888px #FFF , 554px 38px #FFF , 1581px 401px #FFF , 1183px 1567px #FFF , 1161px 1833px #FFF , 1047px 1979px #FFF , 1493px 840px #FFF , 1308px 1487px #FFF , 1657px 441px #FFF , 1427px 1826px #FFF , 916px 1544px #FFF , 1726px 1997px #FFF , 1929px 1976px #FFF , 861px 1380px #FFF , 138px 1731px #FFF , 1949px 712px #FFF , 1879px 327px #FFF , 618px 468px #FFF , 1622px 774px #FFF , 82px 237px #FFF , 835px 1306px #FFF , 1777px 648px #FFF , 757px 1123px #FFF , 1596px 1917px #FFF , 481px 287px #FFF , 1156px 1144px #FFF , 1057px 1807px #FFF , 1380px 498px #FFF , 1541px 873px #FFF , 1739px 192px #FFF , 1000px 1679px #FFF , 1078px 1156px #FFF , 1995px 1730px #FFF , 1609px 384px #FFF , 1495px 1964px #FFF , 513px 1147px #FFF , 1008px 1224px #FFF , 1346px 1109px #FFF , 1087px 1005px #FFF , 1953px 578px #FFF , 1699px 529px #FFF , 1192px 6px #FFF , 1208px 422px #FFF , 1402px 344px #FFF , 828px 1585px #FFF , 612px 738px #FFF , 1845px 896px #FFF , 803px 769px #FFF , 701px 333px #FFF , 750px 1209px #FFF , 1556px 50px #FFF , 1764px 1060px #FFF , 915px 173px #FFF , 1283px 1880px #FFF , 548px 1377px #FFF , 1493px 1449px #FFF , 834px 1321px #FFF , 910px 1114px #FFF , 1040px 1221px #FFF , 1090px 1930px #FFF , 1186px 418px #FFF , 985px 1679px #FFF , 1949px 1840px #FFF , 509px 1936px #FFF , 1140px 214px #FFF , 1227px 1810px #FFF , 1255px 1565px #FFF , 266px 807px #FFF , 1528px 1361px #FFF , 1749px 1413px #FFF , 207px 723px #FFF , 494px 647px #FFF , 1394px 1715px #FFF , 1911px 1757px #FFF , 512px 1341px #FFF , 333px 1544px #FFF , 500px 881px #FFF , 1059px 704px #FFF , 1489px 570px #FFF , 1115px 491px #FFF , 637px 943px #FFF , 1261px 215px #FFF , 777px 530px #FFF , 1543px 899px #FFF , 1433px 970px #FFF , 1386px 1349px #FFF , 378px 1121px #FFF , 649px 1252px #FFF , 624px 1150px #FFF , 1372px 1764px #FFF , 490px 909px #FFF , 1015px 155px #FFF , 1021px 41px #FFF , 725px 1819px #FFF , 1852px 1093px #FFF , 1907px 1294px #FFF , 1644px 286px #FFF , 120px 232px #FFF , 453px 824px #FFF , 1050px 533px #FFF , 1211px 1731px #FFF , 1449px 722px #FFF , 1957px 1783px #FFF , 1809px 1113px #FFF , 168px 1106px #FFF , 21px 6px #FFF , 1611px 1120px #FFF , 757px 170px #FFF , 485px 1036px #FFF , 1872px 456px #FFF , 107px 1134px #FFF , 1833px 260px #FFF , 468px 35px #FFF , 1225px 1332px #FFF , 1705px 1403px #FFF , 253px 401px #FFF , 589px 1040px #FFF , 1314px 601px #FFF , 1745px 121px #FFF , 395px 1735px #FFF , 1594px 1278px #FFF , 1915px 1830px #FFF , 1134px 885px #FFF , 1815px 1241px #FFF , 1524px 1454px #FFF , 349px 386px #FFF , 1362px 174px #FFF , 709px 1254px #FFF , 706px 1208px #FFF , 1981px 151px #FFF , 1095px 1704px #FFF , 294px 1531px #FFF , 1534px 149px #FFF , 425px 498px #FFF , 1522px 1567px #FFF , 1460px 868px #FFF , 451px 1954px #FFF , 331px 1149px #FFF , 1824px 830px #FFF , 13px 413px #FFF , 85px 1016px #FFF , 658px 1999px #FFF , 1841px 1414px #FFF , 366px 27px #FFF , 1491px 1601px #FFF , 849px 18px #FFF , 515px 988px #FFF , 1301px 1294px #FFF , 1734px 298px #FFF , 318px 1830px #FFF , 613px 599px #FFF , 341px 1398px #FFF , 707px 1783px #FFF , 81px 96px #FFF , 835px 525px #FFF , 854px 1296px #FFF , 1496px 150px #FFF , 515px 419px #FFF , 1689px 605px #FFF , 563px 461px #FFF , 4px 1622px #FFF , 1357px 1611px #FFF , 135px 1343px #FFF , 755px 1929px #FFF , 279px 1404px #FFF , 530px 1247px #FFF , 788px 709px #FFF , 832px 1213px #FFF , 1433px 944px #FFF , 982px 1286px #FFF , 1959px 841px #FFF , 174px 750px #FFF , 1826px 628px #FFF , 1653px 307px #FFF , 650px 149px #FFF , 250px 323px #FFF , 1589px 1394px #FFF , 152px 1327px #FFF , 1884px 1081px #FFF , 319px 1178px #FFF , 81px 1188px #FFF , 623px 1293px #FFF , 1005px 94px #FFF , 1453px 200px #FFF , 583px 247px #FFF , 402px 1548px #FFF , 811px 1991px #FFF , 428px 915px #FFF , 997px 782px #FFF , 61px 1297px #FFF , 479px 1457px #FFF , 1226px 817px #FFF , 1396px 1075px #FFF , 1289px 1683px #FFF , 1416px 444px #FFF; }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1971px 1342px #FFF , 1869px 1761px #FFF , 778px 812px #FFF , 1877px 27px #FFF , 631px 876px #FFF , 74px 266px #FFF , 1813px 1669px #FFF , 1654px 1589px #FFF , 707px 567px #FFF , 1827px 1528px #FFF , 1354px 238px #FFF , 1837px 644px #FFF , 990px 1178px #FFF , 1560px 1444px #FFF , 607px 1477px #FFF , 1866px 789px #FFF , 392px 1881px #FFF , 180px 1163px #FFF , 509px 764px #FFF , 1430px 1612px #FFF , 1968px 1003px #FFF , 1868px 885px #FFF , 1852px 1848px #FFF , 1437px 1386px #FFF , 122px 846px #FFF , 979px 886px #FFF , 777px 863px #FFF , 1969px 1513px #FFF , 984px 781px #FFF , 246px 43px #FFF , 1760px 462px #FFF , 1440px 1168px #FFF , 692px 243px #FFF , 1074px 1567px #FFF , 961px 621px #FFF , 1684px 887px #FFF , 1650px 31px #FFF , 1088px 1947px #FFF , 1339px 1119px #FFF , 623px 973px #FFF , 1955px 1744px #FFF , 1746px 676px #FFF , 554px 1351px #FFF , 944px 1608px #FFF , 1297px 513px #FFF , 1968px 1837px #FFF , 410px 176px #FFF , 536px 404px #FFF , 1450px 674px #FFF , 509px 1811px #FFF , 1124px 1409px #FFF , 1274px 1184px #FFF , 1960px 631px #FFF , 1483px 1815px #FFF , 691px 103px #FFF , 1218px 1234px #FFF , 981px 1307px #FFF , 1959px 1302px #FFF , 764px 1645px #FFF , 714px 537px #FFF , 58px 575px #FFF , 1432px 535px #FFF , 1267px 1687px #FFF , 835px 1435px #FFF , 149px 1309px #FFF , 285px 880px #FFF , 1525px 1640px #FFF , 130px 872px #FFF , 1144px 1381px #FFF , 640px 1386px #FFF , 938px 1058px #FFF , 1761px 587px #FFF , 1546px 798px #FFF , 967px 1898px #FFF , 1854px 890px #FFF , 1473px 711px #FFF , 243px 298px #FFF , 483px 1547px #FFF , 1101px 1362px #FFF , 1617px 1811px #FFF , 339px 1578px #FFF , 1181px 522px #FFF , 165px 1403px #FFF , 1790px 1682px #FFF , 1065px 1940px #FFF , 982px 1366px #FFF , 768px 1875px #FFF , 1339px 1607px #FFF , 1678px 1233px #FFF , 1185px 370px #FFF , 572px 318px #FFF , 135px 11px #FFF , 1765px 1217px #FFF , 1859px 199px #FFF , 52px 1500px #FFF , 261px 633px #FFF , 1481px 521px #FFF , 583px 823px #FFF , 999px 589px #FFF , 702px 1891px #FFF , 1273px 341px #FFF , 368px 1108px #FFF , 423px 1329px #FFF , 806px 1335px #FFF , 1813px 99px #FFF , 1977px 1113px #FFF , 851px 1371px #FFF , 267px 379px #FFF , 1855px 148px #FFF , 454px 437px #FFF , 894px 532px #FFF , 957px 420px #FFF , 1053px 1186px #FFF , 772px 638px #FFF , 591px 838px #FFF , 717px 1971px #FFF , 1106px 1218px #FFF , 1451px 765px #FFF , 100px 1164px #FFF , 623px 1375px #FFF , 1897px 976px #FFF , 372px 333px #FFF , 19px 1275px #FFF , 412px 199px #FFF , 590px 1810px #FFF , 1210px 247px #FFF , 913px 716px #FFF , 1822px 1440px #FFF , 1110px 1731px #FFF , 1129px 1757px #FFF , 1224px 1155px #FFF , 1598px 27px #FFF , 1652px 193px #FFF , 438px 1613px #FFF , 1295px 1464px #FFF , 1335px 559px #FFF , 1252px 1657px #FFF , 1585px 259px #FFF , 772px 485px #FFF , 998px 1293px #FFF , 1925px 141px #FFF , 1335px 1924px #FFF , 1331px 1146px #FFF , 1270px 1941px #FFF , 933px 150px #FFF , 87px 1868px #FFF , 310px 1516px #FFF , 1151px 1273px #FFF , 614px 1407px #FFF , 874px 166px #FFF , 1325px 1377px #FFF , 318px 1699px #FFF , 1586px 1959px #FFF , 787px 1682px #FFF , 465px 1693px #FFF , 659px 1910px #FFF , 537px 537px #FFF , 1223px 1565px #FFF , 839px 1035px #FFF , 1836px 598px #FFF , 1692px 1926px #FFF , 869px 1813px #FFF , 415px 1869px #FFF , 1888px 1332px #FFF , 992px 1284px #FFF , 1734px 1773px #FFF , 1693px 5px #FFF , 281px 1909px #FFF , 1004px 1316px #FFF , 327px 1702px #FFF , 245px 249px #FFF , 125px 978px #FFF , 1107px 1242px #FFF , 1746px 321px #FFF , 689px 553px #FFF , 1506px 461px #FFF , 789px 4px #FFF , 1364px 387px #FFF , 1393px 505px #FFF , 1832px 134px #FFF , 1412px 995px #FFF , 1330px 816px #FFF , 1344px 471px #FFF , 1882px 840px #FFF , 1184px 1480px #FFF , 648px 306px #FFF , 994px 757px #FFF , 1390px 282px #FFF , 511px 320px #FFF , 305px 817px #FFF , 1316px 440px #FFF , 274px 529px #FFF , 314px 574px #FFF , 1198px 1317px #FFF , 572px 769px #FFF , 1414px 1329px #FFF , 363px 1245px #FFF , 381px 1211px #FFF , 340px 502px #FFF , 1403px 1624px #FFF;
    -webkit-animation: animStar 100s linear infinite;
            animation: animStar 100s linear infinite; }
  
  #stars2:after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1971px 1342px #FFF , 1869px 1761px #FFF , 778px 812px #FFF , 1877px 27px #FFF , 631px 876px #FFF , 74px 266px #FFF , 1813px 1669px #FFF , 1654px 1589px #FFF , 707px 567px #FFF , 1827px 1528px #FFF , 1354px 238px #FFF , 1837px 644px #FFF , 990px 1178px #FFF , 1560px 1444px #FFF , 607px 1477px #FFF , 1866px 789px #FFF , 392px 1881px #FFF , 180px 1163px #FFF , 509px 764px #FFF , 1430px 1612px #FFF , 1968px 1003px #FFF , 1868px 885px #FFF , 1852px 1848px #FFF , 1437px 1386px #FFF , 122px 846px #FFF , 979px 886px #FFF , 777px 863px #FFF , 1969px 1513px #FFF , 984px 781px #FFF , 246px 43px #FFF , 1760px 462px #FFF , 1440px 1168px #FFF , 692px 243px #FFF , 1074px 1567px #FFF , 961px 621px #FFF , 1684px 887px #FFF , 1650px 31px #FFF , 1088px 1947px #FFF , 1339px 1119px #FFF , 623px 973px #FFF , 1955px 1744px #FFF , 1746px 676px #FFF , 554px 1351px #FFF , 944px 1608px #FFF , 1297px 513px #FFF , 1968px 1837px #FFF , 410px 176px #FFF , 536px 404px #FFF , 1450px 674px #FFF , 509px 1811px #FFF , 1124px 1409px #FFF , 1274px 1184px #FFF , 1960px 631px #FFF , 1483px 1815px #FFF , 691px 103px #FFF , 1218px 1234px #FFF , 981px 1307px #FFF , 1959px 1302px #FFF , 764px 1645px #FFF , 714px 537px #FFF , 58px 575px #FFF , 1432px 535px #FFF , 1267px 1687px #FFF , 835px 1435px #FFF , 149px 1309px #FFF , 285px 880px #FFF , 1525px 1640px #FFF , 130px 872px #FFF , 1144px 1381px #FFF , 640px 1386px #FFF , 938px 1058px #FFF , 1761px 587px #FFF , 1546px 798px #FFF , 967px 1898px #FFF , 1854px 890px #FFF , 1473px 711px #FFF , 243px 298px #FFF , 483px 1547px #FFF , 1101px 1362px #FFF , 1617px 1811px #FFF , 339px 1578px #FFF , 1181px 522px #FFF , 165px 1403px #FFF , 1790px 1682px #FFF , 1065px 1940px #FFF , 982px 1366px #FFF , 768px 1875px #FFF , 1339px 1607px #FFF , 1678px 1233px #FFF , 1185px 370px #FFF , 572px 318px #FFF , 135px 11px #FFF , 1765px 1217px #FFF , 1859px 199px #FFF , 52px 1500px #FFF , 261px 633px #FFF , 1481px 521px #FFF , 583px 823px #FFF , 999px 589px #FFF , 702px 1891px #FFF , 1273px 341px #FFF , 368px 1108px #FFF , 423px 1329px #FFF , 806px 1335px #FFF , 1813px 99px #FFF , 1977px 1113px #FFF , 851px 1371px #FFF , 267px 379px #FFF , 1855px 148px #FFF , 454px 437px #FFF , 894px 532px #FFF , 957px 420px #FFF , 1053px 1186px #FFF , 772px 638px #FFF , 591px 838px #FFF , 717px 1971px #FFF , 1106px 1218px #FFF , 1451px 765px #FFF , 100px 1164px #FFF , 623px 1375px #FFF , 1897px 976px #FFF , 372px 333px #FFF , 19px 1275px #FFF , 412px 199px #FFF , 590px 1810px #FFF , 1210px 247px #FFF , 913px 716px #FFF , 1822px 1440px #FFF , 1110px 1731px #FFF , 1129px 1757px #FFF , 1224px 1155px #FFF , 1598px 27px #FFF , 1652px 193px #FFF , 438px 1613px #FFF , 1295px 1464px #FFF , 1335px 559px #FFF , 1252px 1657px #FFF , 1585px 259px #FFF , 772px 485px #FFF , 998px 1293px #FFF , 1925px 141px #FFF , 1335px 1924px #FFF , 1331px 1146px #FFF , 1270px 1941px #FFF , 933px 150px #FFF , 87px 1868px #FFF , 310px 1516px #FFF , 1151px 1273px #FFF , 614px 1407px #FFF , 874px 166px #FFF , 1325px 1377px #FFF , 318px 1699px #FFF , 1586px 1959px #FFF , 787px 1682px #FFF , 465px 1693px #FFF , 659px 1910px #FFF , 537px 537px #FFF , 1223px 1565px #FFF , 839px 1035px #FFF , 1836px 598px #FFF , 1692px 1926px #FFF , 869px 1813px #FFF , 415px 1869px #FFF , 1888px 1332px #FFF , 992px 1284px #FFF , 1734px 1773px #FFF , 1693px 5px #FFF , 281px 1909px #FFF , 1004px 1316px #FFF , 327px 1702px #FFF , 245px 249px #FFF , 125px 978px #FFF , 1107px 1242px #FFF , 1746px 321px #FFF , 689px 553px #FFF , 1506px 461px #FFF , 789px 4px #FFF , 1364px 387px #FFF , 1393px 505px #FFF , 1832px 134px #FFF , 1412px 995px #FFF , 1330px 816px #FFF , 1344px 471px #FFF , 1882px 840px #FFF , 1184px 1480px #FFF , 648px 306px #FFF , 994px 757px #FFF , 1390px 282px #FFF , 511px 320px #FFF , 305px 817px #FFF , 1316px 440px #FFF , 274px 529px #FFF , 314px 574px #FFF , 1198px 1317px #FFF , 572px 769px #FFF , 1414px 1329px #FFF , 363px 1245px #FFF , 381px 1211px #FFF , 340px 502px #FFF , 1403px 1624px #FFF; }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 691px 57px #FFF , 362px 1401px #FFF , 1636px 1491px #FFF , 1270px 705px #FFF , 1284px 1036px #FFF , 1103px 275px #FFF , 659px 1849px #FFF , 621px 1370px #FFF , 897px 1861px #FFF , 1297px 629px #FFF , 1650px 927px #FFF , 19px 1417px #FFF , 1809px 1921px #FFF , 1133px 1819px #FFF , 703px 491px #FFF , 233px 836px #FFF , 1893px 1200px #FFF , 409px 1268px #FFF , 211px 514px #FFF , 1155px 1465px #FFF , 1731px 1562px #FFF , 1508px 746px #FFF , 613px 866px #FFF , 1430px 655px #FFF , 1131px 1775px #FFF , 1800px 1728px #FFF , 227px 1051px #FFF , 553px 1502px #FFF , 804px 763px #FFF , 420px 471px #FFF , 716px 954px #FFF , 178px 300px #FFF , 1626px 381px #FFF , 1322px 1133px #FFF , 318px 1340px #FFF , 1161px 1258px #FFF , 718px 317px #FFF , 1284px 1760px #FFF , 1140px 1699px #FFF , 595px 1048px #FFF , 1814px 1252px #FFF , 144px 693px #FFF , 1832px 1833px #FFF , 835px 1738px #FFF , 272px 1849px #FFF , 1652px 444px #FFF , 745px 1456px #FFF , 645px 1285px #FFF , 1499px 722px #FFF , 1256px 181px #FFF , 1772px 220px #FFF , 1985px 1630px #FFF , 475px 1422px #FFF , 699px 1927px #FFF , 288px 1586px #FFF , 1120px 1622px #FFF , 1918px 544px #FFF , 1395px 1059px #FFF , 326px 1209px #FFF , 1290px 1065px #FFF , 726px 1189px #FFF , 363px 1287px #FFF , 725px 1370px #FFF , 528px 824px #FFF , 1819px 1660px #FFF , 214px 1664px #FFF , 494px 1804px #FFF , 1744px 233px #FFF , 1942px 26px #FFF , 1291px 404px #FFF , 525px 1681px #FFF , 503px 758px #FFF , 75px 166px #FFF , 1111px 353px #FFF , 1935px 191px #FFF , 185px 695px #FFF , 1503px 888px #FFF , 1335px 598px #FFF , 591px 893px #FFF , 1522px 1281px #FFF , 735px 1194px #FFF , 48px 1884px #FFF , 769px 1072px #FFF , 1332px 533px #FFF , 1029px 822px #FFF , 1956px 85px #FFF , 80px 1474px #FFF , 1107px 1720px #FFF , 1954px 1044px #FFF , 1384px 1732px #FFF , 317px 678px #FFF , 269px 623px #FFF , 600px 1466px #FFF , 536px 1611px #FFF , 1238px 488px #FFF , 1404px 864px #FFF , 1527px 1407px #FFF , 771px 1888px #FFF , 1676px 466px #FFF , 1257px 1135px #FFF;
    -webkit-animation: animStar 150s linear infinite;
            animation: animStar 150s linear infinite; }
  
  #stars3:after {
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 691px 57px #FFF , 362px 1401px #FFF , 1636px 1491px #FFF , 1270px 705px #FFF , 1284px 1036px #FFF , 1103px 275px #FFF , 659px 1849px #FFF , 621px 1370px #FFF , 897px 1861px #FFF , 1297px 629px #FFF , 1650px 927px #FFF , 19px 1417px #FFF , 1809px 1921px #FFF , 1133px 1819px #FFF , 703px 491px #FFF , 233px 836px #FFF , 1893px 1200px #FFF , 409px 1268px #FFF , 211px 514px #FFF , 1155px 1465px #FFF , 1731px 1562px #FFF , 1508px 746px #FFF , 613px 866px #FFF , 1430px 655px #FFF , 1131px 1775px #FFF , 1800px 1728px #FFF , 227px 1051px #FFF , 553px 1502px #FFF , 804px 763px #FFF , 420px 471px #FFF , 716px 954px #FFF , 178px 300px #FFF , 1626px 381px #FFF , 1322px 1133px #FFF , 318px 1340px #FFF , 1161px 1258px #FFF , 718px 317px #FFF , 1284px 1760px #FFF , 1140px 1699px #FFF , 595px 1048px #FFF , 1814px 1252px #FFF , 144px 693px #FFF , 1832px 1833px #FFF , 835px 1738px #FFF , 272px 1849px #FFF , 1652px 444px #FFF , 745px 1456px #FFF , 645px 1285px #FFF , 1499px 722px #FFF , 1256px 181px #FFF , 1772px 220px #FFF , 1985px 1630px #FFF , 475px 1422px #FFF , 699px 1927px #FFF , 288px 1586px #FFF , 1120px 1622px #FFF , 1918px 544px #FFF , 1395px 1059px #FFF , 326px 1209px #FFF , 1290px 1065px #FFF , 726px 1189px #FFF , 363px 1287px #FFF , 725px 1370px #FFF , 528px 824px #FFF , 1819px 1660px #FFF , 214px 1664px #FFF , 494px 1804px #FFF , 1744px 233px #FFF , 1942px 26px #FFF , 1291px 404px #FFF , 525px 1681px #FFF , 503px 758px #FFF , 75px 166px #FFF , 1111px 353px #FFF , 1935px 191px #FFF , 185px 695px #FFF , 1503px 888px #FFF , 1335px 598px #FFF , 591px 893px #FFF , 1522px 1281px #FFF , 735px 1194px #FFF , 48px 1884px #FFF , 769px 1072px #FFF , 1332px 533px #FFF , 1029px 822px #FFF , 1956px 85px #FFF , 80px 1474px #FFF , 1107px 1720px #FFF , 1954px 1044px #FFF , 1384px 1732px #FFF , 317px 678px #FFF , 269px 623px #FFF , 600px 1466px #FFF , 536px 1611px #FFF , 1238px 488px #FFF , 1404px 864px #FFF , 1527px 1407px #FFF , 771px 1888px #FFF , 1676px 466px #FFF , 1257px 1135px #FFF; }
  
  @-webkit-keyframes animStar {
    from {
      transform: translateY(0px); }
    to {
      transform: translateY(-2000px); } }
  
  @keyframes animStar {
    from {
      transform: translateY(0px); }
    to {
      transform: translateY(-2000px); } }

/* From Middle */

.from-middle:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}

.from-middle:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.from-middle:hover:before {
	left: 0;
	width: 100%;
}

.from-middle:hover:after {
	top: 0;
	height: 100%;
}


/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/

.main-banner{
	height: 100%;
	position: relative;
}

.main-banner{
	display: table;
    width: 100%;
	text-align: center;
}
.main-banner::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 0;
    opacity: .6;
}
.heading{
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}
.heading h1{
	color: #ffffff;
	font-weight: 700;
	font-size: 62px;
	text-transform: uppercase;
}
.heading p{
	font-size: 18px;
	padding: 20px 0px;
}

.heading h3{
	color: ffffff;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* -------------------------------- 

xclip 

-------------------------------- */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
  color: #ffffff;
  font-size: 30px;
}
.cd-headline.clip span b{
	text-transform: uppercase;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}


#mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
	border-bottom: 4px solid #faad3b;
}

#clouds{
	margin-top: -5%;
	position: relative;
	z-index: 1;
}
#clouds path {
    fill: #ffffff;
    bottom: -10px;
    overflow: hidden;
    stroke: #ffffff;
}

.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}

.noover {
    overflow: visible;
}

.noover .btn-dark {
    border: 0 !important;
}

.nopad {
    padding: 0;
}

.nopadtop {
    padding-top: 0;
}

.section.wb {
    background-color: #ffffff;
}

.section.lb {
    background-color: #f2f3f5;
}

.section.db {
    background-color: #111111;
}

.section.color1 {
    background-color: #448AFF;
}

.first-section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 16em 0 13em;
}

.first-section h2 {
    color: #ffffff;
    font-size: 68px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
}

.first-section .lead {
    font-size: 21px;
    font-weight: 300;
    padding: 0 0 40px;
    margin: 0;
    line-height: inherit;
    color: #ffffff;
}

.macbookright {
    width: 980px;
    position: absolute;
    right: -15%;
    bottom: -6%;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 38px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.section.colorsection p,
.section.colorsection h3,
.section.db h3 {
    color: #ffffff;
}





.big{
	font-size: 28px;
}




.right-box-pro{
    height: 500px;
	position: relative;
}
.right-box-pro img{
	z-index: 2;
}
.right-box-pro::before {
    
}

.fat-ab{}


/*------------------------------------------------------------------
    about me flip
-------------------------------------------------------------------*/

#about table {
    padding: 1px;
}

.flip-card {
    background-color: transparent;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
   .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
   .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(221, 236, 250);
    color: white;
    transform: rotateY(180deg);
  }


/*------------------------------------------------------------------
    SKILLS
-------------------------------------------------------------------*/



.skills-inner-box{
	padding: 15px;
	background: #ffffff;
	margin-bottom: 30px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.skills h3 {
    color: #999999;
    font-size: 15px;
}

.skills h4 {
    color: #110f0f;
    font-size: 11px;
}

.ser-icon{
	width: 90px;
	height: 90px;
	text-align: center;
	line-height: 90px;
	margin: 0 auto;
	margin-bottom: 20px;
	background: #009bb7;
	position: relative;
	z-index: 1;
}
.ser-icon i{
	font-size: 50px;
	color: #ffffff;
	position: relative;
	z-index: 1;
}
.panel-heading h2{
	font-size: 22px;
	font-weight: 500;
	position: relative;
	z-index: 1;
}

#circleBar{
    height: 200px;
    margin-top: 180px;
    text-align: center;
}


/*------------------------------------------------------------------
    PORTFOLIO
-------------------------------------------------------------------*/

.item-h2,
.item-h1 {
    height: 100% !important;
    height: auto !important;
}

.isotope-item {
    z-index: 2;
    padding: 0;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.portfolio-filter ul {
    padding: 0;
    z-index: 2;
    display: block;
    position: relative;
    margin: 0;
}

.portfolio-filter ul li {
    border-radius: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.portfolio-filter ul li:last-child:after {
    content: "";
}

.portfolio-filter ul li .btn-dark {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #e6e7e6 !important;
    color: #1f1f1f;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 30px;
}

.da-thumbs {
    list-style: none;
    position: relative;
    padding: 0;
}

.da-thumbs .pitem {
    margin: 0;
    padding: 15px;
    position: relative;
}

.da-thumbs .pitem a,
.da-thumbs .pitem a img {
    display: block;
    position: relative;
}

.da-thumbs .pitem a {
    overflow: hidden;
}

.da-thumbs .pitem a div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.da-thumbs .pitem a div h3 {
    display: block;
    color: #ffffff;
    font-size: 20px;
    padding: 30px 15px;
    text-transform: capitalize;
    font-weight: normal;
}

.da-thumbs .pitem a div h3 small {
    display: block;
    color: #ffffff;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
}

.da-thumbs .pitem a div i {
    background-color: #1f1f1f;
    position: absolute;
    color: #ffffff !important;
    bottom: 0;
    font-size: 15px;
    z-index: 12;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}



/*------------------------------------------------------------------
    PRICING TABLES
-------------------------------------------------------------------*/

.pricing-table {
    margin: 50px 0 0 0;
    background: #fff;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.pricing-table i {
    width: 30px;
    color: #c2c2c2;
    display: inline-block;
    margin-right: 10px;
    padding-right: 5px;
    border-right: 1px solid #ececec;
}

.pricing-table .btn-dark {
    padding: 10px 24px;
    font-size: 15px;
}

.pricing-table strong {
    font-weight: 600;
    margin-right: 6px;
    color: #1f1f1f;
}

.pricing-table-header {
    padding: 30px 0 25px 0;
    background: #ffffff;
}

.pricing-table-header h2 {
    font-size: 31px;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.pricing-table-header h3 {
    font-size: 15px;
    font-weight: 600;
    color: #aaaaaa;
    margin-top: 10px;
    text-transform: uppercase;
}

.pricing-table-space {
    height: 10px;
}

.pricing-table-text {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ececec;
    font-weight: 300;
    line-height: 30px;
    color: #c2c2c2;
    font-size: 16px;
}

.pricing-table-text p {
    font-weight: 400;
}

.pricing-table-features {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 30px;
    border-bottom: 1px solid #ececec;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #c2c2c2;
}

.pricing-table-highlighted h3,
.pricing-table-highlighted h2 {
    color: #ffffff !important;
}

.pricing-table-sign-up {
    margin-top: 25px;
    padding-bottom: 30px;
}


/* Highlighted table */

.pricing-table-highlighted {
    margin-top: 0;
}

.m130 {
    margin-top: 130px;
}

.nav-pills {
    border: 1px solid #e1e1e1;
}

.nav-pills > li {
    width: 50%;
    padding: 10px;
    float: left;
    margin: 0 !important;
}

.nav-pills > li > a {
    margin: 0!important;
    text-align: center;
    background-color: #f4f4f4;
}


/*------------------------------------------------------------------
    ICON BOXES
-------------------------------------------------------------------*/

.icon-wrapper {
    position: relative;
    cursor: pointer;
    display: block;
    z-index: 1;
}

.icon-wrapper i {
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 28px;
    background-color: #f2f3f5;
    color: #1f1f1f;
    margin-top: 0;
}

.small-icons.icon-wrapper:hover i,
.small-icons.icon-wrapper:hover i:hover,
.small-icons.icon-wrapper i {
    width: auto !important;
    height: auto !important;
    line-height: 1 !important;
    padding: 0 !important;
    color: #e3e3e3 !important;
    background-color: transparent !important;
    background: none !important;
    margin-right: 10px !important;
    vertical-align: middle;
    font-size: 24px !important;
}

.small-icons.icon-wrapper h3 {
    font-size: 18px;
    padding-bottom: 5px;
}

.small-icons.icon-wrapper p {
    padding: 0;
    margin: 0;
}

.icon-wrapper h3 {
    font-size: 21px;
    padding: 0 0 15px;
    margin: 0;
}

.icon-wrapper p {
    margin-bottom: 0;
    padding-left: 95px;
}

.icon-wrapper p small {
    display: block;
    color: #999;
    margin-top: 10px;
    text-transform: none;
    font-weight: 600;
    font-size: 16px;
}

.icon-wrapper p small:after {
    content: "\f105";
    font-family: FontAwesome;
    margin-left: 5px;
    font-size: 11px;
}


/*------------------------------------------------------------------
    MESSAGE BOXES
-------------------------------------------------------------------*/

.event_dit{
	margin-top: 20px;
}
.event_dit ul {
	float: left;
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 0px;
	position: relative;
	line-height: 12px;
}
.event_dit ul li{
	float: left;
	position: relative;
}

.event_dit ul li a{
	padding: 0px 5px;
	font-size: 14px;
	line-height: 25px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.event_dit ul li a:hover{
	color: #333333;
}

.service-widget h3 {
    font-size: 21px;
    color: #ffffff;
    padding: 20px 0 12px;
    margin: 0;
}

.participate-wrap figure{
	overflow: hidden;
	position: relative;
}
.participate-wrap figure::before{
	background-color: #333333;
	content: "";
	position: absolute;
	border-radius: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	width: 0px;
	height: 0px;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.participate-wrap figure figcaption{
	position: absolute;
	width: 100%;
	top: 0px;
	text-align: center;
	margin-top: -20px;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.participate-wrap figure figcaption .global-radius{
	background: #ffffff;
	width: 38px;
	height: 38px;
	display: inline-block;
	text-align: center;
	line-height: 38px;
}

.participate-wrap:hover figure::before{
	width: 100%;
	height: 100%;
	border-radius: 0px;
}

.participate-wrap:hover figure figcaption {
	top: 50%;
	opacity: 1;
}

.service-widget h3 a,
.section.wb .service-widget h3,
.section.lb .service-widget h3 {
    color: #1f1f1f;
}

.service-widget p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.message-box h4 {
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #999;
}

.message-box h2 {
    font-size: 38px;
    font-weight: 500;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.message-box p {
    margin-bottom: 20px;
}

.post-media {
    position: relative;
}

.post-media img {
    width: 100%;
}

.post-media_pp{
	overflow: hidden;
	position: relative;
}

.service-widget{
	margin-bottom: 30px;
}

.hover-up{
	background: #076799;
}

.service-widget .post-media_pp .hover-up{
	padding: 30px;
	position: absolute;
	left: 110%;
	width: 100%;
	top: 0;
	height: 100%;
	transition: all .35s ease-in-out;
	opacity: 0;
}
.service-widget .post-media_pp:hover .hover-up{
	opacity: 1;
	left: 0;
}

.section.wb .hover-up h3{
	font-size: 32px;
	color: #ffffff;
}

.section.wb .hover-up p{
	color: #cccccc;
}

.playbutton {
    position: absolute;
    color: #ffffff !important;
    top: 40%;
    font-size: 60px;
    z-index: 12;
    left: 0;
    right: 0;
    text-align: center;
    margin: -20px auto;
}

.hoverbutton {
    background-color: #333333;
    position: absolute;
    color: #ffffff !important;
    top: 70%;
    font-size: 21px;
    z-index: 12;
    left: 0;
    opacity: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: -20px auto;
	border-radius: 50%;
}

.service-widget:hover .hoverbutton {
    opacity: 1;
}

hr.hr1 {
    position: relative;
    margin: 60px 0;
    border: 1px dashed #f2f3f5;
}

hr.hr2 {
    position: relative;
    margin: 17px 0;
    border: 1px dashed #f2f3f5;
}

hr.hr3 {
    position: relative;
    margin: 25px 0 30px 0;
    border: 1px dashed #f2f3f5;
}

hr.invis {
    border-color: transparent;
}

hr.invis1 {
    margin: 10px 0;
    border-color: transparent;
}

.section.parallax hr.hr1 {
    border-color: rgba(255, 255, 255, 0.1);
}

.sep1 {
    display: block;
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: 50%;
    margin-left: -14px;
    background-color: #1f1f1f;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}

.sep2 {
    display: block;
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: -20px;
    left: 50%;
    margin-left: -14px;
    background-color: #1f1f1f;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}


/* Divider Styles */

.divider-wrapper {
    width: 100%;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
    height: 540px;
    margin: 0 auto;
    position: relative;
}

.divider-wrapper:hover {
    cursor: none;
}

.divider-bar {
    position: absolute;
    width: 10px;
    left: 50%;
    top: -10px;
    bottom: -15px;
}

.code-wrapper {
    border: 1px solid #ffffff;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background: url("uploads/code.jpg") no-repeat;
}

.design-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.design-image {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url("uploads/design.jpg") no-repeat;
}

.filter-button-group{
	border-radius: 0px;
	margin: 10px 0px;
	display: inline-block;
}

.filter-button-group button.active{
	background: #faad3b;
	color: #fff;
	box-shadow: 2px 20px 45px 5px rgba(0,0,0,.2);	
}

.filter-button-group button{
	color: #333;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	background: #fff;
	padding: 12px 40px;
	border: none;
	border-radius: 0px;
}


.gallery-single{
	margin: 30px 15px;;
}

.gallery-single {
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.gallery-list .img-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(51, 51, 51, 0.80);
    color: #35424C;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 2;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.gallery-list .gallery-single:hover .img-overlay {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.gallery-list .gallery-single:hover .img-overlay .hoverbutton{
	opacity: 1;
	top: 50%;
}

.spi-hr{}

.spi-hr *, .spi-hr::before, .spi-hr::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.spi-hr::before, .spi-hr::after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: '';
    background-color: #fff;
    z-index: 99;
    opacity: 0;
}

.spi-hr::before {
    width: 0;
    height: 1px;
}

.spi-hr::after {
    height: 0;
    width: 1px;
}

.spi-hr:hover::before, .spi-hr.hover::before, .spi-hr:hover::after, .spi-hr.hover::after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.spi-hr:hover::before, .spi-hr.hover::before {
    width: 40px;
}

.spi-hr.hover .img-overlay{
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.spi-hr.hover .img-overlay .hoverbutton{
	opacity: 1;
	top: 50%;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.spi-hr:hover::after, .spi-hr.hover::after {
    height: 40px;
}

.gallery-single img{
	max-width: 100%;
	backface-visibility: hidden;
	vertical-align: top;
}

.text-hover{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 15px 20px;
	z-index: 99;
}
.text-hover h3, .text-hover h4{
	margin: 0;
	font-size: 1.1em;
	font-weight: normal;
	opacity: 0;
	color: #ffffff;
}

.spi-hr:hover h3, .spi-hr.hover h3, .spi-hr:hover h4, .spi-hr.hover h4 {
    opacity: 1;
}

.spi-hr:hover h3, .spi-hr.hover h3 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.spi-hr:hover img, .spi-hr.hover img {
    zoom: 1;
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    opacity: 0.2;
}

.post-box .date{
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: #333333;
	color: #fff;
	padding: 10px 15px;
	text-align: center;
}

.post-thumb{
	position: relative;
}

.post-box{
	-webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
	box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
	background: #ffffff;
}

.post-box:hover .post-thumb::before{
	opacity: .6;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}


.post-box .post-thumb::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(51, 51, 51, 0.80);
	opacity: 0;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}

.post-info{
	padding: 0px 15px 40px 15px;
	background: #ffffff;
	text-align: left;
	margin-top: 40px;
}

.post-info p{
	margin: 0px;
}

.post-info h4{
	font-size: 20px;
	font-weight: 700;
}

.post-info ul{
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.post-info ul li{
	display: inline-block;
	text-align: center;
}


/*------------------------------------------------------------------
    FEATURES
-------------------------------------------------------------------*/

.customwidget h1 {
    font-size: 44px;
    color: #ffffff;
    padding: 15px 0 25px;
    margin: 0;
    line-height: 1 !important;
    font-weight: 300;
}

.customwidget ul {
    padding: 0;
    display: block;
    margin-bottom: 30px;
}

.customwidget li i {
    margin-right: 5px;
}

.customwidget li {
    color: #ffffff;
    margin-right: 10px;
}

.image-center img {
    position: relative;
    margin: 0 0 -208px;
    z-index: 10;
    padding-right: 30px;
    text-align: center;
}

.customwidget p {
    font-style: italic;
    font-size: 18px;
    padding: 0 0 10px;
}

.img-center img {
    width: 100%;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.img-center {
    margin: auto;
}

#features li p {
    margin-bottom: 0;
    padding-bottom: 0;
}

#features li {
    display: table;
    width: 100%;
    margin: 35px 0;
    cursor: pointer;
}

.features-left,
.features-right {
    padding: 0 10px;
}

.features-right li:last-child,
.features-left li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0 !important;
}

.features-right li i,
.features-left li i {
    width: 68px;
    height: 68px;
    line-height: 68px;
    display: table;
    border-radius: 50%;
    font-size: 26px;
    background-color: #f2f3f5;
    margin: 0 auto 22px;
    position: relative;
    text-align: center;
    z-index: 55;
    transition: .4s;
    padding: 0;
}

#features i img {
    display: table;
    margin: 0 auto;
}

.features-left li i:before,
.features-right li i:before {
    text-align: center;
}

.features-right li i .ico-current,
.features-left li i .ico-current {
    opacity: 1;
    transition: .4s;
    visibility: visible;
}

.features-right li i .ico-hover,
.features-left li i .ico-hover {
    opacity: 0;
    transition: .4s;
    visibility: hidden;
    top: 19px;
}

.features-right li:hover .ico-current,
.features-left li:hover .ico-current {
    opacity: 0;
    transition: .4s;
    visibility: hidden;
}

.features-right li:hover .ico-hover,
.features-left li:hover .ico-hover {
    opacity: 1;
    transition: .4s;
    visibility: visible;
}

.features-right i {
    float: left;
}

.fr-inner {
    margin-left: 90px;
}

.features-left i {
    float: right;
}

.fl-inner {
    text-align: right;
    margin-right: 90px;
}

#features h4 {
    text-transform: capitalize;
    margin: 0;
    font-size: 19px;
}

/*------------------------------------------------------------------
    Blog
-------------------------------------------------------------------*/

.snip1401 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 0px;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    color: #000000;
    text-align: right;
    font-size: 16px;
    background-color: #000000;
  }
  .snip1401 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1401 img {
    max-width: 100%;
    backface-visibility: hidden;
  }
  .snip1401 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    padding: 30px 0 30px 10px;
    background-color: #ffffff;
    width: 60%;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
  .snip1401 figcaption:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 100%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 120px 0;
    border-color: transparent #ffffff transparent transparent;
  }
  
  .snip1401 h3,
  .snip1401 p {
    line-height: 1.5em;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    margin: 0;
  }
  .snip1401 h3 {
    margin: 0 0 5px;
    line-height: 1.1em;
    font-weight: 900;
    font-size: 22px;
    opacity: 0.75;
  }
  .snip1401 p {
    font-size: 16px;
  }
  .snip1401 i {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    font-size: 44px;
    color: #ffffff;
    opacity: 0;
  }
  .snip1401 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .snip1401:hover img,
  .snip1401.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  .snip1401:hover:after,
  .snip1401.hover:after,
  .snip1401:hover figcaption,
  .snip1401.hover figcaption,
  .snip1401:hover i,
  .snip1401.hover i {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

/*------------------------------------------------------------------
    CONTACT
-------------------------------------------------------------------*/

.bootstrap-select {
    width: 100% \0;
    /*IE9 and below*/
}

.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
}

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48;
}

.bootstrap-select.fit-width {
    width: auto !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
    z-index: auto;
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
    float: right;
}

.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
    margin-bottom: 0;
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0;
}

.form-inline .bootstrap-select.btn-group .form-control {
    width: 100%;
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
    cursor: not-allowed;
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
    outline: none !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
}

.bootstrap-select.btn-group .dropdown-toggle .fa-angle-down {
    position: absolute;
    top: 30% !important;
    right: -5px;
    vertical-align: middle;
}

.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
    width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu {
    border: 1px solid #ededed;
    box-shadow: none;
    box-sizing: border-box;
    min-width: 100%;
    padding: 20px 10px;
    z-index: 1035;
}

.dropdown-menu > li > a {
    background-color: transparent !important;
    color: #bcbcbc !important;
    font-size: 15px;
    padding: 10px 20px;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
    color: #fff;
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
    cursor: not-allowed;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer;
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding-left: 2.25em;
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
}

.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: 0.5em;
}

.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
    position: static;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
    position: static;
    top: auto;
    margin-top: 4px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
    z-index: 1036;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(204, 204, 204, 0.2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-top: 7px solid rgba(204, 204, 204, 0.2);
    border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid white;
    border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
    display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
    padding: 4px 8px;
}

.bs-actionsbox {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-actionsbox .btn-group button {
    width: 50%;
}

.bs-donebutton {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-donebutton .btn-group button {
    width: 100%;
}

.bs-searchbox + .bs-actionsbox {
    padding: 0 8px 4px;
}

.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
}

select.bs-select-hidden,
select.selectpicker {
    display: none !important;
}

select.mobile-device {
    position: absolute !important;
    top: 0;
    left: 0;
    display: block !important;
    width: 100%;
    height: 100% !important;
    opacity: 0;
}


/*# sourceMappingURL=bootstrap-select.css.map */

.bootstrap-select > .btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 15px;
    height: 33px;
    box-shadow: none !important;
    border: 0 !important;
    padding: 0;
    width: 100%;
    color: #bcbcbc !important;
}

.contact_form {
    border: 1px solid #ededed;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 40px 30px;
}

.contact_form .form-control {
    background-color: #333333;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    color: #bcbcbc;
    font-size: 16px;
    outline: 0 none;
    padding: 10px 25px;
    height: 55px;
    resize: none;
    box-shadow: none !important;
    width: 100%;
	border-radius: 0px;
}

.contact_form textarea {
    color: #bcbcbc;
    padding: 20px 25px !important;
    height: 160px !important;
}

.contact_form .form-control::-webkit-input-placeholder {
    color: #bcbcbc;
}

.contact_form .form-control::-moz-placeholder {
    opacity: 1;
    color: #bcbcbc;
}

.contact_form .form-control::-ms-input-placeholder {
    color: #bcbcbc;
}

#contact {
    background: url(images/bg.png) no-repeat center center #333333;
}


#contact .section-title p{
	color: #ffffff;
}

.contact_form textarea.form-control{
	min-height: 225px;
}

.form-group{
	position: relative;
}

.help-block{
	position: absolute;
	top: 100%;
	left: 0px;
}

.follow{
    display: flex;
  justify-content: center;
}

.follow ul li{
	display: inline-block;
}

.follow ul li b{
	color: #ffffff;
	font-size: 22px;
	margin-right: 15px;
}
.follow ul li a{
	background: #009bb7;
	font-size: 24px;
	width: 60px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	border-radius: 50px;
	color: #ffffff;
}
.follow ul li a:hover{
	color: #faad3b;
}



/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/

.cac {
    background-color: #232323;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.cac:hover a h3 {
    color: #fff !important;
}

.cac a h3 {
    color: #999;
}

.cac h3 {
    padding: 60px 0;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    line-height: !important;
}

.footer {
    padding: 90px 0 80px !important;
    color: #999;
    background-color: #1f1f1f;
}

.footer .widget-title {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.footer .widget-title small {
    color: #999;
    display: block;
    padding: 0 58px;
    text-transform: uppercase;
}

.footer .widget-title h3 {
    color: #fff;
    font-weight: 300;
    font-size: 21px;
    padding: 0;
    margin: 0;
    line-height: 1 !important;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: #999;
}

.footer-links a:hover,
.footer a:hover {
    color: #333333 !important;
}

.footer-links li {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}

.twitter-widget li {
    margin-bottom: 0;
    border: 0 !important;
}

.twitter-widget li i {
    border-right: 0 !important;
    margin-right: 0;
}

.footer-links li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

.footer-links i {
    display: inline-block;
    width: 25px;
    margin-right: 10px;
    border-right: 1px dashed rgba(255, 255, 255, 0.1);
}

.copyrights {
    border-top: 0px;
    background-color: #1f1f1f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 30px 0px;
    overflow: hidden;
}


/* Footer left */

.footer-distributed .footer-left {
    float: none;
	text-align: center;
}

.footer-distributed .footer-links {
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.footer-distributed .footer-company-name {
    font-weight: 300;
    margin: 0 10px;
    color: #666;
    padding: 0;
}


/* Footer right */

.footer-distributed .footer-right {
    float: right;
}


/* The search form */

.footer-distributed form {
    position: relative;
}

.footer-distributed form input {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #181818;
    border: none;
    font: inherit;
    font-size: 15px;
    font-weight: normal;
    color: #999;
    width: 400px;
    padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus {
    outline: none;
}


/* Changing the placeholder color */

.footer-distributed form input::-webkit-input-placeholder {
    color: #999;
}

.footer-distributed form input::-moz-placeholder {
    opacity: 1;
    color: #999;
}

.footer-distributed form input:-ms-input-placeholder {
    color: #999;
}


/* The magnify glass icon */

.footer-distributed form i {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 16px;
    right: 18px;
    color: #999;
    font-size: 18px;
    margin-top: 6px;
}

.footer-distributed .footer-company-name a{
	color: #ffffff;
}

.footer-distributed .footer-company-name a:hover{
	color: #cccccc;
}

/*------------------------------------------------------------------
    MISC
-------------------------------------------------------------------*/



.progress {
    background-color: #f2f3f5;
    border-radius: 0;
    box-shadow: none;
    height: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}



.dmtop {
    background-color: #009bb7;
    z-index: 100;
    width: 50px;
    height: 50px;
    line-height: 47px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 20px;
    text-align: center;
    font-size: 28px;
    color: #ffffff !important;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
.dmtop.show {
    bottom: 20px;
}

.icon_wrap {
    background-color: #1f1f1f;
    width: 100px;
    height: 100px;
    display: block;
    line-height: 100px;
    font-size: 34px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 0 !important;
    border: 0 !important;
}

.stat-wrap h3 {
    font-size: 18px;
    font-weight: 400;
    color: #999 !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1 !important:
}

.stat-wrap p {
    font-size: 38px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
    padding: 4px 0 0;
    line-height: 1 !important:
}

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #292929;
    z-index: 11000;
    position: fixed;
    display: block
}


@keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px;
  }
  65% {
    width: 150px;
    height: 150px;
  }
}
@keyframes loaderBlock {
  0%, 30% {
    transform: rotate(0);
  }
  55% {
    background-color: #faad3b;
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes loaderBlockInverse {
  0%, 20% {
    transform: rotate(0);
  }
  55% {
    background-color: #faad3b;
  }
  100% {
    transform: rotate(-90deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  animation: loader 1.2s infinite ease-in-out;
}
.loader span {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #009bb7;
  animation: loaderBlock 1.2s infinite ease-in-out both;
}
.loader span:nth-child(1) {
  top: 0;
  left: 0;
}
.loader span:nth-child(2) {
  top: 0;
  right: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}

/*------------------------------------------------------------------
    BUTTONS
-------------------------------------------------------------------*/

.navbar-default .btn-light {
    padding: 0 20px;
    margin-left: 15px;
}

.btn {
    border: 0 !important;
}

.btn-light {
    padding: 10px 40px;
    font-size: 18px;
    border: 2px solid #ffffff !important;
    color: #ffffff;
    background-color: transparent;
}

.btn-dark {
    padding: 13px 40px;
    font-size: 18px;
    border: 1px solid #ececec !important;
    color: #1f1f1f;
    background-color: transparent;
}

.btn-light:hover,
.btn-light:focus {
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
}